.fixed-card{
    display: flex;
    align-items: center;
}

.fixed-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
}

.card-area{
    background-color: #001a3f;
    color: aliceblue;
}

.btn-color{
    background-color: aliceblue;
}